/***********************Variables**********************/

:root {
  --cyan: #2bd0d0;
  --cyan-light: #9ae3e3;
  --violet-dark: #3a3054;
  --violet-vdark: #34313d;
  --blue-vdark: #4b3f6b;
  --gray-dark: #9e9aa8;
  --offwhite: #eff1f7;
  --red: #f46363;
}

/****************General-Default Styles***************/

button,
input[type='submit'],
input[type='reset'] {
  background: none;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  font-family: inherit;
}

ul,
ol {
  list-style-type: none;
}

a:link,
a:visited {
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  cursor: pointer;
}

/********************Reusable Styles*******************/

.btn-main {
  background-color: var(--cyan);
  color: #ffffff;
  border-radius: 2.8rem;
  height: 5.6rem;
  width: 19.7rem;
  font-weight: 700;
  font-size: 2rem;
  line-height: 3rem;
}

.btn-main:hover {
  background-color: var(--cyan-light);
  transition: background-color 0.2s;
}

/*******************Header-Component******************/

.main-nav {
  max-width: 144rem;
  display: flex;
  justify-content: space-between;
  padding: 4.8rem 16.5rem;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 2.2rem;
  color: var(--gray-dark);
}

.main-nav a:hover {
  color: var(--violet-vdark);
  transition: color 0.2s;
}

.nav-left {
  display: flex;
  align-items: center;
  gap: 4.5rem;
}

.nav-menu-items {
  display: flex;
  align-items: center;
  gap: 3rem;
}

.auth-buttons {
  display: flex;
  align-items: center;
  gap: 3.7rem;
}

.btn-signup {
  width: 10.5rem;
  height: 4rem;
  font-size: 1.5rem;
  line-height: 2.2rem;
}

/********************Hero-Component*******************/

.hero-container {
  overflow: hidden;
  display: flex;
  max-width: 144rem;
  height: 66.4rem;
}
.hero-content {
  padding-top: 8.8rem;
  padding-left: 16.5rem;
}

.hero-content h1 {
  color: var(--violet-vdark);
  font-weight: 700;
  font-size: 8rem;
  line-height: 9rem;

  letter-spacing: -2px;
}
.hero-content p {
  color: var(--gray-dark);
  margin-top: 0.5rem;
  font-weight: 500;
  font-size: 2.2rem;
  line-height: 3.6rem;
  letter-spacing: 0.15px;
}
.hero-content button {
  margin-top: 3.8rem;
}

.hero-img {
  max-width: 73.3rem;
  max-height: 48rem;
  padding-top: 3rem;
  transform: translateX(12.3rem);
}

/********************URL-Form-Component*******************/

.url-app-container {
  max-width: 144rem;
  padding-bottom: 10rem;
  background-color: var(--offwhite);
}

.url-form-container {
  display: flex;
  justify-content: center;
  position: relative;
}

.url-shortening-form {
  width: 111rem;
  height: 16.8rem;
  background-image: url('./assets/imgs/bg-shorten-desktop.svg');
  background-color: var(--violet-dark);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.5rem;
  border-radius: 1rem;
  transform: translateY(-8.4rem);
  position: absolute;
}

.url-input-field {
  width: 77rem;
  height: 6.5rem;
  position: relative;
  padding-left: 3rem;
  border-radius: 1rem;
  font-family: inherit;
  font-weight: 500;
  font-size: 2rem;
  line-height: 3.6rem;
  letter-spacing: 0.15px;
  color: var(--violet-vdark);
}

.url-input-field-error {
  border: 3px solid var(--red);
  color: var(--red);
}
.url-input-field:focus {
  border: 3px solid var(--cyan);
  outline: none;
}
.error-message-minor {
  position: absolute;
  bottom: 2.6rem;
  left: 6.4rem;
  font-style: italic;
  font-size: 1.6rem;
  line-height: 1.8rem;
  color: var(--red);
}

.btn-shorten {
  border-radius: 1rem;
}

.url-results-container {
  display: flex;
  justify-content: center;
  margin-top: 9.4rem;
}

/********************URL-Result-Component*******************/
.link-container {
  width: 111rem;
  min-height: 7.2rem;
  margin-top: 1.6rem;
  border-radius: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  padding-left: 3.2rem;
  padding-right: 2.4rem;
  font-size: 2rem;
  letter-spacing: 0.15px;
  color: var(--violet-vdark);
}

.url-original {
  max-width: 58rem;
  overflow-wrap: break-word;
}

.url-short {
  display: inline-block;
  color: var(--cyan);
}
.btn-copy-url {
  margin-left: 2.4rem;
  width: 10rem;
  height: 4rem;
  border-radius: 0.5rem;
  font-size: 1.5rem;
}

.btn-copied {
  background-color: var(--violet-dark);
}

.btn-delete {
  margin-left: 2.4rem;
  width: 10rem;
  height: 4rem;
  border-radius: 0.5rem;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 3rem;
  background-color: var(--blue-vdark);
  color: #ffffff;
}

.btn-delete:hover {
  background-color: var(--red);
  transition: background-color 0.2s;
}

/********************Features-Component*******************/

.features {
  background-color: var(--offwhite);
  padding-bottom: 21rem;
  max-width: 144rem;
}

.statistics-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.statistics-heading {
  font-size: 4rem;
  line-height: 4.8rem;
  letter-spacing: -1px;
  color: var(--violet-vdark);
}

.statistics-description {
  max-width: 54rem;
  margin-top: 1.8rem;
  font-size: 1.8rem;
  line-height: 3.2rem;
  letter-spacing: 0.1px;
  color: var(--gray-dark);
}

.info-card-container {
  display: flex;
  justify-content: center;
  gap: 3rem;
  margin-top: 10rem;
}

/********************Card-Component*******************/

.info-card {
  width: 35rem;
  height: 26.7rem;
  background-color: #ffffff;
  border-radius: 0.5rem;
  position: relative;
}
.info-card:nth-child(1) {
  --card-index: 0;
}

.info-card:nth-child(2) {
  --card-index: 1;
  transform: translateY(4.4rem);
}
.info-card:nth-child(3) {
  --card-index: 2;
  transform: translateY(8.8rem);
}

.info-card:not(:last-child)::after {
  content: '';
  display: block;
  position: absolute;
  right: 0;
  bottom: calc(var(--card-index) * 4.4rem + 10.7rem);
  transform: translateX(100%);
  width: 3rem;
  height: 0.8rem;
  background-color: var(--cyan);
}
.info-card-icon-container {
  position: absolute;
  transform: translateY(-50%);
  left: 3.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--violet-dark);
  width: 8.8rem;
  height: 8.8rem;
  border-radius: 50%;
}
.info-card-icon {
  width: 4rem;
}
.info-card-heading {
  font-size: 2.2rem;
  line-height: 3.3rem;
  color: var(--violet-vdark);
  margin-top: 7.7rem;
  margin-left: 3.2rem;
}
.info-card-content {
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 2.6rem;
  color: var(--gray-dark);
  margin: 1.2rem 3.2rem 4.1rem;
}

/********************Call-To-Action-Component*******************/

.section-call-to-action {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 25rem;
  max-width: 144rem;
  background-image: url('./assets/imgs/bg-boost-desktop.svg');
  background-color: var(--violet-dark);
}

.heading-call-to-action {
  font-size: 4rem;
  line-height: 4.8rem;
  letter-spacing: -1px;
  color: #ffffff;
  margin-bottom: 3.2rem;
}

/********************Footer-Component*******************/

.footer-container {
  background-color: var(--violet-vdark);
  display: flex;
  justify-content: space-around;
  max-width: 144rem;
  height: 31rem;
}

.logo-footer {
  fill: #ffffff;
}

.footer-nav {
  display: flex;
  gap: 11.5rem;
}
.footer-nav-heading {
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 2.4rem;
  letter-spacing: -0.25px;
  color: #ffffff;
}

.footer-nav-items a {
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 2.2rem;
  letter-spacing: -0.23px;
  color: var(--gray-dark);
}

.socials-container {
  display: flex;
  gap: 2.4rem;
}
