@media (max-width: 23.44em) /* 375px */ {
  /*******************Header-Component******************/

  .main-nav {
    padding: 4rem 1.7rem 2.3rem 3.1rem;
    /*     font-weight: 700;
    font-size: 1.5rem;
    line-height: 2.2rem;
    color: var(--gray-dark); */
  }

  .nav-left {
    display: flex;
    align-items: center;
    gap: 4.5rem;
  }
  /* hide for menu, alter settings later */
  .nav-menu-items {
    display: none;
    align-items: center;
    gap: 3rem;
  }
  /* Hide for menu, alter settings later */
  .auth-buttons {
    display: none;
    align-items: center;
    gap: 3.7rem;
  }

  /* also adjust later in menu */

  /*   .btn-signup {
    width: 10.5rem;
    height: 4rem;
    font-size: 1.5rem;
    line-height: 2.2rem;
  } */

  /********************Hero-Component*******************/

  .hero-container {
    display: grid;
    justify-content: center;
    /* height: 66.4rem; */
  }
  .hero-content {
    padding-top: 0rem; /* changed */
    padding-left: 0rem; /* changed */
    padding-left: 2.4rem;
    padding-right: 2.4rem;
    padding-bottom: 16.8rem;
    text-align: center;
    margin-top: 3.7rem;
    /*  margin-bottom: 18rem; /* changed */
  }

  .hero-content h1 {
    font-size: 4.2rem;
    line-height: 4.8rem;
    letter-spacing: -1px; /* all changed */
  }
  .hero-content p {
    margin-top: 0.5rem;
    font-size: 1.8rem;
    line-height: 3rem;
    letter-spacing: 0.12px; /* all but margin changed */
    padding-left: 2.4rem;
    padding-right: 2.4rem;
  }
  .hero-content button {
    /*  margin-top: 3.8rem; */
  }

  .hero-img {
    grid-row: 1/2;
    max-width: 46rem; /* changed */
    max-height: 48rem;
    padding-top: 3rem;
    justify-self: center;
    transform: translateX(8.4rem);
  }

  /********************URL-Form-Component*******************/

  .url-app-container {
    /*   padding-left: 2.4rem;
  padding-right: 2.4rem;
  padding-bottom: 10rem;
  background-color: var(--offwhite); */
    padding-bottom: 8rem;
  }

  .url-form-container {
    /*   display: flex;
    justify-content: center;
    position: relative; */
  }

  .url-shortening-form {
    /*     width: clamp(32.7rem, 100%, 111rem);
    height: 16.8rem;
    padding-left: 6.5rem; ***
    padding-right: 6.5rem; ***
    background-image: url('./assets/imgs/bg-shorten-desktop.svg');
    background-color: var(--violet-dark);
    display: flex;
    justify-content: center;
    align-items: center;
   
    border-radius: 1rem;
    transform: translateY(-8.4rem);
    position: absolute; */

    flex-direction: column;
    padding: 2.4rem;
    min-height: 16.8rem;
    gap: 1rem;
    align-items: start;
    background-image: url('./assets/imgs/bg-shorten-mobile.svg');
  }

  .btn-shorten {
    width: 100%;
    height: 4.8rem;
    border-radius: 0.5rem;
    font-size: 1.8rem;
    line-height: 2.7rem;
  }

  .url-input-field {
    /*   width: clamp(27.9rem, 100%, 77rem);
  height: 6.5rem;
  position: relative;
  padding-left: 3rem;
  padding-right: 3rem;
  border-radius: 1rem;
  font-family: inherit;
  font-weight: 500;
  font-size: 2rem;
  line-height: 3.6rem;
  letter-spacing: 0.15px;
  color: var(--violet-vdark); */

    height: 4.8rem;
    border-radius: 0.5rem;
    font-size: 1.6rem;
    line-height: 3.6rem;
  }

  .error-message-minor {
    /*  position: absolute;
    bottom: 6.6rem;
    left: 3.4rem;
    font-style: italic;
    font-size: 1.6rem;
    line-height: 1.8rem;
    color: var(--red); */
    position: relative;
    bottom: 0.4rem;
    left: 0rem;
    font-size: 1.2rem;
  }

  /********************URL-Result-Component*******************/

  .url-results-container {
    /*   display: flex;
  justify-content: center;
  margin-top: 9.4rem; */
  }

  .link-container {
    /*   min-height: 7.2rem;
  margin-top: 1.6rem;
  border-radius: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  padding-left: 2.4rem;
  padding-right: 2.4rem;
  font-size: 2rem;
  letter-spacing: 0.15px;
  color: var(--violet-vdark); */
    flex-direction: column;
    align-items: center;
    padding: 0.6rem 1.6rem 1.6rem;
    font-size: 1.6rem;
    line-height: 3.6rem;
    letter-spacing: 0.12px;
  }

  .link-container-2 {
    /*  width: clamp(32.7rem, 100%, 111rem); */
  }

  .link-container-left {
    /*  width: clamp(11.7rem, 100%, 45rem);
  max-width: 58rem; */
    border-bottom: 0.1rem var(--gray-opacity) solid;
    padding-bottom: 0.8rem;
  }

  .link-container-right {
    /*  display: flex;
  align-items: center; */

    width: 100%;

    flex-direction: column;
    align-items: start;
  }

  .url-original {
    /*  overflow-wrap: break-word; */
    padding-left: 0.2rem;
  }

  .link-container .url-short {
    /*   display: inline-block;
  color: var(--cyan); */
    margin-bottom: 0.8rem;
    padding-left: 0.2rem;
  }

  .btn-copy-url {
    /*   margin-left: 2.4rem;
  width: 10rem;
  
  border-radius: 0.5rem;
  font-size: 1.5rem; */
    width: 100%;
    margin-left: 0rem;
  }

  .btn-copied {
    /* background-color: var(--violet-dark); */
  }

  .btn-delete {
    /*   margin-left: 2.4rem;
  width: 10rem;
  height: 4rem;
  border-radius: 0.5rem;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 3rem;
  background-color: var(--blue-vdark);
  color: #ffffff; */

    width: 100%;
    margin-left: 0rem;
    margin-bottom: 1.6rem;
  }

  /********************Features-Component*******************/

  .features {
    /*   background-color: var(--offwhite);
  padding-bottom: 21rem;
  padding-left: 2.4rem;
  padding-right: 2.4rem; */

    padding-bottom: 17rem;
  }

  .statistics-container {
    /*   display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center; */
  }

  .statistics-heading {
    /*  font-size: 4rem;
  line-height: 4.8rem;
  letter-spacing: -1px;
  color: var(--violet-vdark); */
    font-size: 2.8rem;
  }

  .statistics-description {
    /*   max-width: 54rem;
  margin-top: 1.8rem;
  font-size: 1.8rem;
  line-height: 3.2rem;
  letter-spacing: 0.1px;
  color: var(--gray-dark); */
    font-size: 1.6rem;
    line-height: 2.8rem;
  }

  .info-card-container {
    /*   display: flex;
  justify-content: center;
  gap: 3rem;
  margin-top: 10rem; */
    flex-direction: column;
  }

  /********************Card-Component*******************/

  .info-card {
    /*   width: 35rem;
  min-height: 26.7rem;
  background-color: #ffffff;
  border-radius: 0.5rem;
  position: relative; */
    max-width: 32.7rem;
  }
  .info-card:nth-child(1) {
    /* --card-index: 0; */
  }
  .info-card:nth-child(2) {
    /*   --card-index: 1;
  transform: translateY(4.4rem); */
  }
  .info-card:nth-child(3) {
    /*   --card-index: 2;
  transform: translateY(8.8rem); */
  }

  .info-card:not(:last-child)::after {
    /*   content: '';
  display: block;
  position: absolute;
  right: 0;
  bottom: calc(var(--card-index) * 4.4rem + 10.7rem);
  transform: translateX(100%);
  width: 3rem;
  height: 0.8rem;
  background-color: var(--cyan); */
    left: 50%;
    bottom: 0;
    transform: translate(-50%, 100%);
    width: 0.8rem;
    height: 3rem;
  }
  .info-card-icon-container {
    /*   position: absolute;
  transform: translateY(-50%);
  left: 3.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--violet-dark);
  width: 8.8rem;
  height: 8.8rem;
  border-radius: 50%; */
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .info-card-icon {
    /*  width: 4rem; */
  }
  .info-card-heading {
    /*   font-size: 2.2rem;
  line-height: 3.3rem;
  color: var(--violet-vdark);
  margin-top: 7.7rem;
  margin-left: 3.2rem; */
    text-align: center;
    margin-left: 0;
  }
  .info-card-content {
    /*   font-weight: 500;
  font-size: 1.5rem;
  line-height: 2.6rem;
  color: var(--gray-dark);
  margin: 1.2rem 3.2rem 4.1rem; */
    text-align: center;
  }

  /********************Call-To-Action-Component*******************/

  .section-call-to-action {
    /*    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 25rem;
    background-image: url('./assets/imgs/bg-boost-desktop.svg');
    background-color: var(--violet-dark);
    background-size: cover; */
    height: 30rem;
    background-image: url('./assets/imgs/bg-boost-mobile.svg');
  }

  .heading-call-to-action {
    /*   font-size: 4rem;
  line-height: 4.8rem;
  letter-spacing: -1px;
  color: #ffffff;
  margin-bottom: 3.2rem; */

    font-size: 2.8rem;
    text-align: center;
    letter-spacing: -0.7px;
    margin-bottom: 1.6rem;
  }

  /********************Footer-Component*******************/

  .footer-container {
    /*   background-color: #232127;
  display: flex;
  justify-content: space-around;
  height: 31rem;
  padding: 7.2rem; */
    flex-direction: column;
    height: 100%;
    align-items: center;
    padding: 5.4rem;
  }

  .logo-footer {
    /*  fill: #ffffff; */
  }

  .footer-nav {
    /*   display: flex;
  gap: 11.5rem;
  transform: translateX(6.5rem); */
    flex-direction: column;
    align-items: center;
    gap: 4rem;
    transform: translate(0);
    text-align: center;
    margin: 4.9rem 0;
  }
  .footer-nav-heading {
    /*   font-weight: 700;
  font-size: 1.6rem;
  line-height: 2.4rem;
  letter-spacing: -0.25px;
  margin-bottom: 2.2rem;
  color: #ffffff; */
  }

  .footer-nav-items li {
    /*   font-weight: 500;
  font-size: 1.5rem;
  line-height: 2.2rem;
  letter-spacing: -0.23px;
  margin-bottom: 1rem;
  color: #bfbfbf; */
  }

  .footer-nav-items a:hover {
    /*  color: var(--cyan);
  transition: color 0.2s; */
  }

  .socials-container {
    /*  display: flex;
  gap: 2.4rem; */
  }
  .socials-container a {
    /*  fill: #ffffff;
  transition: fill 0.2s; */
  }

  .socials-container a:hover {
    /*   fill: var(--cyan);
  transition: fill 0.2s; */
  }
}
